.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f1f1f1;
    padding: 10px;
    margin: 0;
    list-style: none;
    text-align: center;
}
.menu>a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.menu>a:hover{
    text-decoration: underline;
    color: #FD3412;
}
.menu >a:visted{
    color: black;
}
```